:root {
 --primery-text-color: #757575;
  --second-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-background-colors: #ffffff;
  --second-background-colors: #f5f4fa;
  --footer-color: #2f303a;
    }
body {
    color: var(--primery-text-color);
    background: #E5E5E5; 
    font-family: "Roboto",sans-serif;
    font-size: 14px;
}
ul {
    list-style: none;

}
      /* логотип */
.logo {

font-family: "Raleway",sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-decoration: none;
color:#2196f3;
}
.header-logo{
    color:#212121;
}
        /* навигация по сайту */
.link-nav {

font-weight: 500;
font-size: 14px;
line-height: 1.33;

color: #212121;

}
.link-nav:hover, .link-nav:focus {
color:var(--accent-color);
 }
 
         /* почта и телефон шапка */
 .mail-nav {
font-weight: 500;
font-size: 14px;
line-height: 1.33;
color: #757575;

}
.mail-nav:hover, .mail-nav:focus {
    color:var(--accent-color);
} 
.tel-nav {
font-weight: 500;
font-size: 14px;
line-height: 1.33;
color: #757575;
}
.tel-nav:hover, .tel-nav:focus {
   color:var(--accent-color); 
}
         /* main */
.main-bg {
 background: #2F303A;
 }
 .main-title { 
font-weight: 900;
font-size: 44px;
line-height: 1.36;

color: var(--second-text-color);
}
.main-btn {
font-weight: bold;
font-size: 16px;
cursor: pointer;
line-height: 1.87;
color: #FFFFFF;
background: #2196F3;
}
.main-list {
font-weight: normal;
font-size: 14px;
line-height: 1.71;
color: var(--primery-text-color); 
}
.main-subtitle {
font-weight: bold;
font-size: 14px;
line-height: 1.33;
color: var(--title-text-color);
}
.main-heading {
font-weight: bold;
font-size: 36px;
line-height: 1.16;
color: var(--title-text-color);
}
.caption-subtitle {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
color: var(--title-text-color);
}
.caption-text {
font-weight: normal;
font-size: 16px;
line-height: 1.18;
color: var(--primery-text-color);

}
   /* Футер */
.footer {
    background: var(--footer-color);
}
.footer-logo {

font-family: "Raleway",sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

color: #2196F3;
}
.footer-logo{
    color: #FFFFFF;
}
  /* Footer */
  .footer-address {
font-family: "Raleway",sans-serif;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
color: #FFFFFF;
  }
  .footer-link {
font-weight: normal;
font-size: 14px;
line-height: 1.71;
color: rgba(255, 255, 255, 0.6);
  }
   /* страница портфолио */
   .portfolio-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.62;
color: var(--title-text-color);
cursor: pointer;
   }
   .portfolio-btn:hover, 
   .portfolio-btn:focus, 
   .portfolio-btn:active {
background: #2196F3;
font-weight: 500;
font-size: 16px;
color:var(--second-text-color);
   }
   .portfolio-title {
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--title-text-color);
   }
   .portfolio-subtitle {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;

    color: var(--primery-text-color);
   }




 
     